
.Rhistory
*.pper
.Rproj.user/72363E2B/rmd-outputs
teiskoseura.Rproj
.Rproj.user/72363E2B/sources/prop/A1C38524
.Rproj.user/72363E2B/sources/prop/INDEX
.Rproj.user/72363E2B/sources/s-D5CCCA13/2F4EFEE0
.Rproj.user/72363E2B/sources/s-D5CCCA13/2F4EFEE0-contents
.Rproj.user/72363E2B/sources/s-D5CCCA13/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
.Rprofile
*.Rproj
*.pper
.Rhistory
.Rprofile
*.pper
.Rproj.user/72363E2B/sources/s-D5CCCA13/2F4EFEE0
.Rproj.user/72363E2B/sources/s-D5CCCA13/2F4EFEE0-contents
.Rproj.user
