<div class="col-xs-12 col-sm-8 col-md-9 content-column">
    {{ partial "mobile_nav_toggle.html" . }}
    <div class="grid">
        <div class="row">
          {{ range .Data.Pages }}
              {{if .Params.dont_include}}
              {{ else }}
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item">
                  <div class="box-masonry">
                      {{ if and (isset .Params "image") .Params.image }}
                        {{ if eq .Params.showonlyimage true }}
                         {{ if .Params.external_instagram_link}}
                         <a href="https://www.instagram.com/teiskonmuseo/" title="" class="box-masonry-image with-hover-overlay">
                        {{ else }}
                         <a href="{{ .Permalink }}" title="" class="box-masonry-image with-hover-overlay">
                           {{ end }}
                        {{ else }}
                        <a href="{{ .Permalink }}" title="" class="box-masonry-image with-hover-overlay with-hover-icon">
                        {{ end }}
                            <img src="{{.Params.image | absURL}}" alt="" class="img-responsive">
                        </a>
                      {{ end }}
                      {{ if eq .Params.showonlyimage true }}
                      <div class="box-masonry-hover-text-header">
                      {{ else }}
                      <div class="box-masonry-text">
                      {{ end }}
					  
						  {{ if eq .Params.special_title true }} 
						    {{ if .Params.external_instagram_link}}
						             <h4><a href="https://www.instagram.com/teiskonmuseo/">{{ .Title }}</a></h4>
                			  {{ else }} 
                          <h4><a href="{{ .Permalink }}">{{ .Summary }}</a></h4>
                          	  {{ end }}
						  {{ else }} 
						  <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
						  {{ end }}
						  
                          <div class="box-masonry-description">
                            <p>
                                {{ if .Params.no_description }}
                                {{ "" }}
                                {{ else }}
                                {{ if .Params.custom_details }}
                                                                 <p>  Teiskon Museo, Teiskon kirkkotie 139, Terälahti <br>
                                 
     <a href="mailto:teisko.seura@teisko.fi"> &#128231 teisko.seura@teisko.fi </a> <br>  <a href="tel:0413266600">  &#128381 041 32 666 00
      </a> <br> (museon aukioloaikoina) <br>
      Postiosoitteet sivulla <a href="seura/">toiminta. </p>
                                 <p>  <a href="mailto:sirpa.aulamo@gmail.com">&#128231</a>
                                 <a href="seura/">&#128381
                                 </a>
                                 Sirpa Aulamo, puheenjohtaja 
                                 <br>
                                 <a href="mailto:leena.tulivirta@kolumbus.fi">&#128231
                                 </a>
                                 <a href="seura/">&#128381
                                 </a>
                                  Leena Tulivirta, sihteeri </p> 
                                {{ else }}
                                {{ if .Description }}
                                  {{ .Description }}
                                {{ else }}
                                  {{ .Summary }}
                                {{ end }}
                                {{ end }}
                                {{ end }}
                            </p>
                          </div>
                      </div>
                  </div>
              </div>
           {{ end }}
          {{ end }}
        </div>
    </div>
</div>
